# Created by .ignore support plugin (hsz.mobi)
node_modules/
package-lock.json
.idea/
*.js
*.js.map
etc/*
!etc/keep
!etc/simple/*
/aio/commands/agent.d.ts
/aio/commands/resolve.d.ts
/aio/commands/server.d.ts
/aio/commands/token.d.ts
/aio/opts/opts.d.ts
/aio/opts/opts-agent.d.ts
/aio/opts/opts-resolve.d.ts
/aio/opts/opts-server.d.ts
/aio/opts/opts-token.d.ts
/aio/index.d.ts
/aio/load.d.ts
/core-v2/agent/applications/app.d.ts
/core-v2/agent/applications/app-server.d.ts
/core-v2/agent/applications/index.d.ts
/core-v2/agent/agent-aio.d.ts
/core-v2/agent/resolve/resolver-server.d.ts
/core-v2/agent/index.d.ts
/core-v2/agent/resolve/aio.resolve.d.ts
/core-v2/agent/resolve/index.d.ts
/core-v2/agent/resolve/localhost.d.ts
/core-v2/net/anchor.d.ts
/core-v2/net/auth.d.ts
/core-v2/net/index.d.ts
/core-v2/net/server.d.ts
/core-v2/protocol/index.d.ts
/core-v2/server/index.d.ts
/core-v2/server/server-aio.d.ts
/core-v2/server/server-proxy.d.ts
/core-v2/services/resolve.service/index.d.ts
/core-v2/services/token.service/index.d.ts
/core-v2/services/index.d.ts
/core-v2/utils/dir-watch.d.ts
/core-v2/utils/index.d.ts
/core-v2/utils/lib.d.ts
/core-v2/utils/listener.d.ts
/core-v2/utils/status.d.ts
/core-v2/defaults.d.ts
/core-v2/index.d.ts
/noport/entry/aio.remote.app1.domaain.com_127.255.0.88.entry.conf
/noport/entry/aio.remote.app1.domaain.com_127.255.0.89.entry.conf
/noport/entry/aio.zootaku23.maguta.brainsoftstp.com_127.255.0.87.entry.conf
/noport/entry/aio.zootakuy.maguta.brainsoftstp.com_127.255.0.86.entry.conf
/noport/noport.app1.remote.app1.domaain.com_127.0.0.1_5533.entry.conf
/noport/noport.app3.remote.app3.domaain.com_127.0.0.1_5533.entry.conf
/clean.d.ts
/test.d.ts
/yarn.lock
/yarn-error.log
/debug.log
