[apps.app1]
    name =app1
    address = 127.0.0.1
    port = 1234
    protocol = pg
    grants[] = *
    releases = 5
    = true

[apps.app2]
    name = app2
    address = 127.0.0.1
    port = 1234
    protocol = http
    grants[] = *
    releases = 5
    = true